/*--------CSS File-----------------------*/


/*NEMI LOGIN INTERFACE*/

.nemiLoginInterfaceDiv{}

.nemiLoginInterfaceView{}


/*NEMI EVENT MANAGEMENT INTERFACE*/

.nemiInterfaceDiv{
	display:none;
}

/*Nemi interface Header Div*/

.logOutBtnDiv{


}

.nemiTitleInterfaceDiv{


}


/*Nemi interface Body Div*/

.nemiInterfaceBodyDiv{


}

/*Nemi Calendars Event List Div*/

.nemiCalendarsEventsListDiv{
	
}

.calendarListDiv{}

.nemiCalendarsEventsListOptionsDiv{}

	#searchEventDateInputBox, #searchEventTitleInputBox{
		display: none;	
	}


.nemiEventsListDiv{}

	a.list-group-item{
		display: none;
	}

	a.list-group-item.current{
		display: block;
	}

	.glyphicon-chevron-left, .glyphicon-chevron-right{
		display: none;
	}
	
	.rightArrow, .leftArrow{
			font-size: 4em;
			position: relative;
			top: 2em;
 		}
 		
 		.rightArrow{
 			right: 0.5em;
		}
		
		.leftArrow{
 			right: 0.2em;
		}


/*Nemi Event Interface Div*/

.nemiEventInterfaceDiv{
	display:none;
	float: right;
}

.nemieventInterfaceView{
	
}

.nemiEventInterfaceEditOptionsDiv{
}

.createEventBtnsDiv{
	display:none;
}

/*Nemi Event Parameter List Div*/

.nemiEventParameterListDiv{
	display:none;
	float: right;
}

#eventStartDateInputBox, #eventEndDateInputBox, #eventStartTimeInputBox, #eventEndTimeInputBox{
	width: 23%;
  	display: inline;

}

#geocompleteInputBox{
	width: 100%;
}

.elementDescriptionLayer{
	margin: 0.3em;

}

.elementDescriptionLayer .newDescriptionElement{
	position: relative;
	padding: 9px 6px 10px;
	color: #000;
	cursor: pointer;
	opacity: .2;
	text-align: center;
	line-height: 10px;
}

.elementDescriptionLayer:hover .newDescriptionElement {
	opacity: 1;
}

.elementDescriptionLayerEdited{
	margin: 0.3em;

}					

.elementDescriptionLayerEdited .deleteElementDescription{
	position: relative;
	padding: 9px 6px 10px;
	color: #000;
	cursor: pointer;
	opacity: .2;
	text-align: center;
	line-height: 10px;
}


.elementDescriptionLayerEdited:hover .deleteElementDescription {
	opacity: 1;
}



.popMenuIcon{

	color: green;
	font-size: 3.2em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	top: 0.35em;
}

#addLayerBtn{
	display: none;
}

/*Nemi Event Parameter Editor Div*/

.nemiEventParameterEditorDiv{
	display:none;
	float: left;
}

.eventParameterEditorDiv{
	
}

#textParameterEditorDiv, #imageParameterEditorDiv, #emailParameterEditorDiv, #phoneParameterEditorDiv, #urlParameterEditorDiv{
	display: none;
}

.WYSIWYGInterface{

}

.createElementBtnDiv{
	display: none;
}


/*Loading gif Div*/

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}