/*--------CSS File-----------------------*/


/*NEMI LOGIN INTERFACE*/

.nemiLoginInterfaceDiv{}

.nemiLoginInterfaceView{}


/*NEMI EVENT MANAGEMENT INTERFACE*/

.nemiInterfaceDiv{
	display:none;
}

/*Nemi interface Header Div*/

.logOutBtnDiv{


}

.nemiTitleInterfaceDiv{


}


/*Nemi interface Body Div*/

.nemiInterfaceBodyDiv{


}

/*Nemi Calendars Event List Div*/

.nemiCalendarsEventsListDiv{
	
}

.calendarListDiv{}

.nemiCalendarsEventsListOptionsDiv{}

	#searchEventDateInputBox, #searchEventTitleInputBox{
		display: none;	
	}


.nemiEventsListDiv{}

	a.list-group-item{
		display: none;
	}

	a.list-group-item.current{
		display: block;
	}

	.glyphicon-chevron-left, .glyphicon-chevron-right{
		display: none;
	}


/*Nemi Event Interface Div*/

.nemiEventInterfaceDiv{
	display:none;
	float: right;
}

.nemieventInterfaceView{
	
}

.nemiEventInterfaceEditOptionsDiv{
}

.createEventBtnsDiv{
	display:none;
}

/*Nemi Event Parameter List Div*/

.nemiEventParameterListDiv{
	display:none;
	float: right;
}


/*Nemi Event Parameter Editor Div*/

.nemiEventParameterEditorDiv{
	display:none;
	float: left;
}


/*Loading gif Div*/

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}